In [4]:
intro = "Hello World, "
myself = "I'm Arsel. Nice to meet you"
print(intro + myself)

Hello World, I'm Arsel. Nice to meet you

In [16]:
print([], type([]))
print([1, 1, 2, 3], type([1, 1, 2, 3]))

[] <class 'list'>
[1, 1, 2, 3] <class 'list'>

In [11]:
# define lists
empty_list = []
last_5_years = [2016, 2017, 2018, 2019, 2020]
list_mix = [100, 3.14, "bitlabs", True, -9, 7+2j, -1.]

print("lenght of empty_list var:", len(empty_list), empty_list)
print("lenght of last_5_years var:", len(last_5_years), last_5_years)
print("lenght of list_mix var:", len(list_mix), list_mix)

lenght of empty_list var: 0 []
lenght of last_5_years var: 5 [2016, 2017, 2018, 2019, 2020]
lenght of list_mix var: 7 [100, 3.14, 'bitlabs', True, -9, (7+2j), -1.0]

In [1]:
empty_list = []
last_5_years = [2016, 2017, 2018, 2019, 2020]
list_mix = [100, 3.14, "Bitlabs", True, -9, 7+2j, -1.]

print("lenght of empty_list var:", len(empty_list), empty_list)
print("lenght of last_5_years var:", len(last_5_years), last_5_years)
print("lenght of list_mix var:", len(list_mix), list_mix)

lenght of empty_list var: 0 []
lenght of last_5_years var: 5 [2016, 2017, 2018, 2019, 2020]
lenght of list_mix var: 7 [100, 3.14, 'Bitlabs', True, -9, (7+2j), -1.0]

In [17]:
#Kuis
less_than_ten = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
print("numbers less than ten", less_than_ten)

reverse_less_than_ten = sorted(less_than_ten, reverse=True)
print("biggest to smallest number:", reverse_less_than_ten)

# Join
text_bit = "bit "
text_bit_ten = text_bit.join(less_than_ten)
print(text_bit_ten)

numbers less than ten ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
biggest to smallest number: ['9', '8', '7', '6', '5', '4', '3', '2', '1', '0']
0bit 1bit 2bit 3bit 4bit 5bit 6bit 7bit 8bit 9

In [24]:
# Indexing and Slicing
# Penomoran awal index dalam list yaitu 0, 1, 2. dst.

names = ["John", "Andrew", "Sebastian", "Josh"]
n_names = len(names)

print("names[0]:", names[0])
print("names[1]:", names[1])
print("names[2]:", names[2])
print("names[3]:", names[3])
print()
print("names[-4]:", names[-4])
print("names[-3]:", names[-3])
print("names[-2]:", names[-2])
print("names[-1]:", names[-1])
print()
print("first name:", names[0], names[-n_names])
print("last name:", names[n_names-1], names[-1])

names[0]: John
names[1]: Andrew
names[2]: Sebastian
names[3]: Josh

names[-4]: John
names[-3]: Andrew
names[-2]: Sebastian
names[-1]: Josh

first name: John John
last name: Josh Josh

In [ ]:
# Kuis random_dates

random_dates = ['June 21, 2001', 'December 4, 2002', 'August 23,']

In [26]:
# Tuple
# Penggunaan Tuple untuk dalam penggunaan list, misalnya:
# Ketika tidak ingin mengubah elemen (update, dll anti ribet)
# Kekurangan Tuple tidak bisa diubah atau diganti.
print(type([10]))
print(type([10,]))

<class 'list'>
<class 'list'>

In [ ]:
empty_tuple : ()
print(empty_tuple, type(empty_tuple))

ceo = ("Mark","elon")
print(ceo, type(ceo))

same_ceo = "Mark", "elon"
print(ceo, type(same_ceo))

bootcamp = "Bitlabs"
print(bootcamp, type(bootcamp))

str_bootcamp =

In [31]:
location = -6172882812192, 108.2162119
print(location)

longitude, latitude = location
print(longitude, latitude)

(-6172882812192, 108.2162119)
-6172882812192 108.2162119

In [ ]:
first_quarter_months = ["January", "February", "March"]

print(first_quarter_months), type(tuple(first_quarter_months))

In [ ]:
# Kegunaan Set (Kegunaanya untuk mengindetifikasi hal yang double atau terduplikat)

In [32]:
set_is_unique = {1, 2, 3, 4, 5, 1, "Stuart"} # Akan menghasilkan {1, 2, 3, 4, 5}
list_isnt_unique = [1, 2, 3, 4, 5, 1]
string_in_set = {"Bob", "Michael", "Stuart", "Bob", "Stuart", 3}

print(list_isnt_unique)
print(set_is_unique, type(set_is_unique))
print(string_in_set, type(string_in_set))

[1, 2, 3, 4, 5, 1]
{1, 2, 3, 4, 5, 'Stuart'} <class 'set'>
{3, 'Stuart', 'Bob', 'Michael'} <class 'set'>

In [40]:
price = 20000
if price == 20000: #Kenapa harus pakai simbol >= sembagai logika saja jika uang user lebih atau kurang dari value
   print("Book Now")

Book Now

In [3]:
print(5**3)
print(5*3)
print(5*3 + 5*3 + 5*3)

125
15
45

In [6]:
print(1000000 + 500000 + 800000 / 3)
print(1000000 + 500000 + 800000 * 3)

1766666.6666666667
3900000

In [14]:
# keys	value Jakarta	20.8 Surabaya	18.2 Bandung	15.1 Semarang	12.3

# Cara Mendefinisikan Dict, Keys and values
# height = {"john": 166, "stuart": 169, "kevin": 171}

# empty_dict = dict()
# dict_keys(['john', 'stuart', 'kevin', 'Kevin'])
# dict_values([190, 169, 180, 167])

population = {"Jakarata": 20.8, "Surabaya": 18.2, "Bandung": 15.1, "Semarang": 12.3}
print(population, type(population))

{'Jakarata': 20.8, 'Surabaya': 18.2, 'Bandung': 15.1, 'Semarang': 12.3} <class 'dict'>

In [16]:
print(population["Bandung"])
print(population["Surabaya"])
print(population["Semarang"])

15.1
18.2
12.3

In [23]:
female_names = {"Sue", "Mary", "Kate", "Lee"}
male_names = {"Eric", "Lee", "Tom", "Adam"}
print("female names:", female_names)
print("male names:", male_names)

all_names = female_names.union(male_names)
print("all unique names:", all_names)

female_male_names = female_names.intersection(male_names)
print(female_male_names)

only_female = female_names.difference(male_names)
only_male = male_names.difference(female_names)

print("Only female name only", only_female)

female names: {'Kate', 'Lee', 'Mary', 'Sue'}
male names: {'Lee', 'Tom', 'Eric', 'Adam'}
all unique names: {'Eric', 'Kate', 'Mary', 'Adam', 'Lee', 'Tom', 'Sue'}
{'Lee'}
Only female name only {'Kate', 'Mary', 'Sue'}

In [ ]:
random_dates : ['June 21, 2001', 'December 4, 2002', 'August 23, 2003', 'March 29, 2004', 'August 1, 2005', 'July 22, 2006', 'July 11, 2007', 'November 13, 2008', 'March 20, 2009', 'March 9, 2010']

even_dates = random_dates [1::2]
print(even_dates)

odd_dates = random_dates [0::2]
print(odd_dates)

In [ ]:
# Kuis:
# Dengan menggunakan pernyataan kondisional, /
# coba implementasikan beberapa kemungkinan untuk memenangkan doorprize seperti pada tabel di bawah.
# points	prize
# 1 - 50	wooden rabbit
# 51 - 150	no prize
# 151 - 180	wafer-thin mint
# 181 - 200	penguin 

# 2.Misalkan kita ingin mengecek apakah suatu list memiliki elemen atau tidak. 
# Jika tidak ada, maka tampilkan "Sayang sekali, tidak ada elemen di sini". Jika ada, tampilkan "Untung ada elemennya!".

In [1]:
# Contoh:
money = 80000

if (money >= 20000) and (money < 75000):
    print("let's buy a comic")
elif (money >= 75000) and (money < 100000):
    print("let's buy a brand new novel")
elif money >= 100000:
    print("Yup! let's buy the expensive magazine")
else:
    print("let's go home and collect more money")

let's buy a brand new novel

In [13]:
# Kuis if, elif, else.

# Soal nomor 1.
points = 183

if (points >= 1) and (points < 51):
    print("Wooden Rabbit")
elif (points >= 51) and (points < 151):
    print("Sorry no Prize, Try next time!")
elif (points >= 151) and (points < 180):
    print("You Got it wafer-thin mint")
elif (points >= 181) and (points < 200):
    print("Congratulation you got Penguin")
else:
    print("Try Again")

# Soal nomor 2
# Misalkan kita ingin mengecek 
# apakah suatu list memiliki elemen atau tidak. 
# Jika tidak ada, maka tampilkan "Sayang sekali, tidak ada elemen di sini". 
# Jika ada, tampilkan "Untung ada elemennya!".

elemen = [5,4,3,2,1]
number = 4

if number in elemen :
    print("Untung ada elemennya!")
else : 
    print("Sayang sekali, tidak ada elemen di sini")

Congratulation you got Penguin
Untung ada elemennya!

In [10]:
# Method format hanya bisa digunakan untuk "strings"
# Contoh dibawah:

ids = "DSCA012120"
batch_prefix = "2120"
if batch_prefix in ids:
    print("Found {} in {}. {} is valid!".format(batch_prefix, ids, ids))
else:
    print("Not found {}. {} is not valid!".format(batch_prefix, ids))

Found 2120 in DSCA012120. DSCA012120 is valid!